<% if f.object.new_record? %>
  <div class="fields">
    <%= f.file_field :image, :class=>"required" %>
  </div>
<% else %>
  <li id="<%= "threading_#{f.object.threading}" %>">
  <%= f.hidden_field(:threading, :class => :threading) %>
  <span class="fields image"  style="display: block;">
    <a href="#" id="sort-icon"><img src="/images/sort_neutral_green.png" /></a>
    <a href="<%= f.object.image.url %>" class="thumb">
      <img src="<%= f.object.image.url %>" />
    </a>
    <%= link_to_remove_fields("Remove Image", f) %>
  </span>
  </li>
<% end %>
