<h1>Listings</h1>

<table class="dataTable" style="width: 100%;">
  <thead>
    <tr>
      <th>Title</th>
      <!--<th>Address</th>-->
      <th>Price</th>
      <th>Last Updated</th>
      <th>Status</th>
      <th>Enable/Disable</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
       <!--<td><%= listing.infos[:ad_address] %></td>-->
        <td><%= listing.infos[:ad_price] %></td>
        <td><%= listing.updated_at.strftime("%m/%d %I:%M:%p") %></td>
        <td class="<%= listing.active ? "postedGreen" : "postedRed" %>" style="text-align: center;"><%= listing.active ? 'Active' : 'Inactive' %></td>
        <td sorting_1><%= link_to (listing.active ? 'Deactivate' : 'Activate'), [@customer, listing], :method => :delete, :confirm => "Are you sure you want to #{listing.active ? "stop" : "start"} posting this ad?" %></td>
        <td><%= link_to 'Edit', edit_customer_listing_path(@customer, listing) %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<br />

<div style="text-align: center;">
  <%= link_to 'New Listing', new_customer_listing_path(@customer), :style => "font-size: 40px; text-align: center;" %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".dataTable").dataTable({
      "bJQueryUI": true,
      "iDisplayLength": 50,
      "aaSorting" : [[1, 'desc']]
    });
  });
</script>
