<h1>Listings</h1>

<table class="dataTable" style="width: 100%;">
  <thead>
    <tr>
      <% if @customer.craigslist_type == "apa" %>
        <th>Address</th>
        <th>Price</th>
      <% end %>
      <th>Title</th>
      <th>Last Updated</th>
      <th>Status</th>
      <th>Enable/Disable</th>
      <th></th>
      <th>Import Status</th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <% if @customer.craigslist_type == "apa" %>
          <td><%= listing.infos[:ad_address] %></td>
          <td><%= listing.infos[:ad_price] %></td>
        <% end %>
        <td><%= listing.title %></td>
        <td><%= listing.updated_at.strftime("%m/%d %I:%M %p") %></td>
        <td class="<%= listing.active ? "postedGreen" : "postedRed" %>" style="text-align: center;"><%= listing.active ? 'Active' : 'Inactive' %></td>
        <td><%= link_to (listing.active ? 'Deactivate' : 'Activate'), [@customer, listing], :method => :delete, :confirm => "Are you sure you want to #{listing.active ? "stop" : "start"} posting this ad?" %></td>
        <td><%= link_to 'Edit', edit_customer_listing_path(@customer, listing) %></td>
        <td class="<%= listing.foreign_active ? "postedGreen" : "postedRed" %>" style="text-align: center;"><%= listing.foreign_active ? 'Updated' : 'Outdated' %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<br />

<div style="text-align: center;">
  <%= link_to 'New Listing', new_customer_listing_path(@customer), :style => "font-size: 40px; text-align: center;" %>
</div>

<% index = @customer.craigslist_type == "apa" ? 4 : 2%>

<script type="text/javascript">
  $(document).ready(function(){
    var oTable = $(".dataTable").dataTable({
      "bJQueryUI": true,
      sPaginationType: "full_numbers",
      bStateSave: true,
      "iDisplayLength": 50,
      bProcessing: true,
      bServerSide: true,
      fnPreDrawCallback: function(oSettings) {
        $(oSettings.aoData).each(function(index, element){
          var td = $($(element.nTr).find('td').get(<%= index %>));
          if(td.text() == "Active") {
            td.addClass('postedGreen');
            } else {
            td.addClass('postedRed');
            }
            var td = $($(element.nTr).find('td').get(<%= index + 3 %>));
          if(td.text() == "Updated") {
            td.addClass('postedGreen');
            } else {
            td.addClass('postedRed');
            }
        });
      },
      sAjaxSource: '<%= customer_listings_path(@customer) %>',
      <% if @customer.craigslist_type == "apa" %>
        "aaSorting" : [[4, 'asc'],[3, 'desc']],
        "aoColumns": [ 
        /* Address */ null,
        /* Price */   null,
        /* Title */   null,
        /* Updated */ null,
        /* Status */  null,
        /* E/D */     null,
        /* Edit */    null,
        /* Foreign */ {"bVisible":true}]
      <% else %>
        "aaSorting" : [],
      <% end %>
    });
  });
</script>
