<h1>Listings</h1>

<table class="dataTable" style="width: 100%;">
  <thead>
    <tr>
      <% if @customer.craigslist_type == "apa" || @customer.craigslist_type == 'rea'  %>
        <th>Address</th>
        <th>Price</th>
      <% end %>
      <th>Title</th>
      <th>Last Updated</th>
      <th style="width: 35px;">Status</th>
      <th style="width: 35px;">Enable/Disable</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <% if @customer.craigslist_type == "apa" || @customer.craigslist_type == 'rea' %>
          <td><%= listing.infos[:ad_address] %></td>
          <td><%= listing.infos[:ad_price] %></td>
        <% end %>
        <td><%= truncate(listing.title.join(", "), :radius => 25) %></td>
        <td><%= listing.updated_at.strftime("%m/%d %I:%M %p") %></td>
        <td class="<%= listing.manual_enabled ? "postedGreen" : (listing.manual_enabled.nil? ? "postedBlue" : "postedRed") %>" style="text-align: center;"><%= listing.manual_enabled ? 'Active' : (listing.manual_enabled.nil? ? 'NaN' : 'Inactive') %></td>
        <td><%= link_to (listing.manual_enabled ? 'Deactivate' : 'Activate'), [@customer, listing], :method => :delete, :confirm => "Are you sure you want to #{listing.manual_enabled ? "stop" : "start"} posting this ad?" %></td>
        <td><%= link_to 'Edit', edit_customer_listing_path(@customer, listing) %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<br />

<div style="text-align: center;">
  <%= link_to 'New Listing', new_customer_listing_path(@customer), :style => "font-size: 40px; text-align: center;" %>
</div>

<% index = @customer.craigslist_type == "apa" || @customer.craigslist_type == 'rea' ? 4 : 2 %>

<script type="text/javascript">
  $(document).ready(function(){
    var oTable = $(".dataTable").dataTable({
      "bJQueryUI": true,
      sPaginationType: "full_numbers",
      bStateSave: true,
      "iDisplayLength": 50,
      bProcessing: true,
      bServerSide: true,
      fnPreDrawCallback: function(oSettings) {
        $(oSettings.aoData).each(function(index, element){
          var td = $($(element.nTr).find('td').get(<%= index %>));
          if(td.text() == "Active") {
            td.addClass('postedGreen');
            } else if(td.text() == 'NaN') {
              td.addClass('postedBlue');
            } else {
            td.addClass('postedRed');
            }
        });
      },
      sAjaxSource: '<%= customer_listings_path(@customer) %>',
      <% if @customer.craigslist_type == "apa" || @customer.craigslist_type == 'rea' %>
        "aaSorting" : [[4, 'asc'],[3, 'desc']],
        "aoColumns": [ 
        /* Address */ null,
        /* Price */   null,
        /* Title */   null,
        /* Updated */ null,
        /* Status */  null,
        /* E/D */     null,
        /* Edit */    null]
      <% else %>
        "aaSorting" : [],
      <% end %>
    });
  });
</script>
