<h1>Listings</h1>

<table class="dataTable" style="width: 100%;">
  <thead>
    <tr>
      <th>Title</th>
      <th>Active</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td class="<%= listing.active ? "postedGreen" : "postedRed" %>" style="text-align: center;"><%= link_to (listing.active ? 'Inactive' : 'Active'), [@customer, listing], :method => :delete, :confirm => "Are you sure you want to #{listing.active ? "stop" : "start"} posting this ad?" %></td>
        <td><%= link_to 'Edit', edit_customer_listing_path(@customer, listing) %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<br />

<div style="text-align: center;">
  <%= link_to 'New Listing', new_customer_listing_path(@customer), :style => "font-size: 40px; text-align: center;" %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".dataTable").dataTable({
      "bJQueryUI": true,
      "iDisplayLength": 50
    });
  });
</script>
