<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @listing.customer_id %>
</p>

<p>
  <b>Active:</b>
  <%= @listing.active %>
</p>


<%= link_to 'Edit', edit_customer_listing_path(@customer, @listing) %> |
<%= link_to 'Back', customer_listings_path(@customer) %>
