<div>The following information will be used in your Craigslist advertisements for your dealership. <b>This information will be copied directly into your Craigslist advertisements.</b>
  Please ensure that this information is accurate. Use proper spelling and grammar, and double check all fields for correctness.</div>

<%= form_for :realtor,@realator, :url => {:action => 'create'}, :html => {:multipart => true} do |f| %>
  <% if @realator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@realator.errors.count, "error") %> prohibited this realator from being saved:</h2>

      <ul>
        <% @realator.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Realtor Name" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :name, "Realtor Email" %><br />
    <%= f.text_field :email %>
  </div>


  <div class="field">
    <%= f.label :name, "Contact Name" %><br />
    <%= f.text_field :contact_name %>
  </div>

  <div class="field">
    <%= f.label :name, "Contact Address" %><br />
    <%= f.text_field :contact_address %>
  </div>

  <div class="field">
    <%= f.label :name, "Contact Phone" %><br />
    <%= f.text_field :contact_phone %>
  </div>

  <div>The following information will be used in your Real EStates for the realator.</div>
  <%= fields_for :real_estate do |re| %>
    <div class="field">
      <%= label_tag  "Ad Title" %><br />
      <%= re.text_area :ad_title, :rows => 10, :cols => 20 %>
    </div>

    <div class="field">
      <%= label_tag  "Ad Description" %><br />
      <%= re.text_area :ad_description %>
    </div>

    <div class="field">
      <%= label_tag  "Bedrooms" %><br />
      <%= re.select :bedrooms, ['1','2','3','4','5','6','7','8'] %>
    </div>

    <div class="field">
      <%= label_tag  "Price($)" %><br />
      <%= re.text_field :price %>
    </div>

    <div class="field">
      <%= label_tag  "Cats" %><br />
      <%= re.select :cats, [true,false] %>
    </div>

    <div class="field">
      <%= label_tag  "Dogs" %><br />
      <%= re.select :dogs,[true,false] %>
    </div>

    <div class="field">
      <%= label_tag  "Active" %><br />
      <%= re.select :active,[true,false] %>
    </div>
  <% end %>

  <div class="field">
    <%= fields_for :real_estate_image do |rim| %>
      <%= label_tag  "Real Estate Images" %><br />
      <%= rim.file_field :photo %>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
