<h1>Listing realators</h1>

<table>
  <tr>
    <th> Contact Name:-</th>
    <th> Contact Address:-</th>
    <th>Contact Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @realators.each do |realator| %>
  <tr>
    <td><%=realator.contact_name%></td>
    <td><%=realator.contact_address%></td>
    <td><%=realator.contact_phone%></td>
    <td><%= link_to 'Show', realator_path(realator.id) %></td>
    <td><%= link_to 'Edit', edit_realator_path(realator) %></td>
    <td><%#= link_to 'Destroy', realator, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Realator', new_realator_path %>
