<%= form_for @customer do |f| %>
  <% if @customer.errors.any? %>
    <%= pluralize(@customer.errors.count, "error") + " prohibiting record from being saved" %>
    <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <%= content_tag :li, msg %>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :email_address %><br />
    <%= f.email_field :email_address %>
  </p>
  <p>
    <%= f.label :name, "Name/Key" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
  <% disabled = @customer.new_record? ? false : true %>
    <%= f.label :Role %><br />
    <%= select_tag :role_id, options_from_collection_for_select(@roles, :id, :name, @customer.role_id.to_i), :disabled => disabled %>
  </p>
  <p>
    <%= f.submit %>
  </p>


<% end %>
