<%= form_for @customer do |f| %>
  <% if @customer.errors.any? %>
    <%= pluralize(@customer.errors.count, "error") + " prohibiting record from being saved" %>
    <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <%= content_tag :li, msg %>
      <% end %>
    </ul>
  <% end %>

    <p>
      <%= label_tag "Rentjuicer ID" %><br />
      <%= @ids.present? ? hidden_field_tag("customer[customer_infos_attributes][0][id]", @ids[:rj_id]) : "" %>
      <%= hidden_field_tag "customer[customer_infos_attributes][0][key]", "rj_id" %>
      <%= text_field_tag "customer[customer_infos_attributes][0][value]", @info[:rj_id], :size => 30  %>
    </p>

    <p>
      <%= label_tag "Neighborhoods" %><br />
      <%= @ids.present? ? hidden_field_tag("customer[customer_infos_attributes][1][id]", @ids[:neighborhoods]) : "" %>
      <%= hidden_field_tag "customer[customer_infos_attributes][1][key]", "neighborhoods" %>
      <%= text_area_tag "customer[customer_infos_attributes][1][value]", @info[:neighborhoods]  %>
    </p>

    <p>
      <%= label_tag "Filters(JSON string goes here and keys should be double quoted)" %><br />
      <%= @ids.present? ? hidden_field_tag("customer[customer_infos_attributes][2][id]", @ids[:filter]) : "" %>
      <%= hidden_field_tag "customer[customer_infos_attributes][2][key]", "filter" %>
      <%= text_area_tag "customer[customer_infos_attributes][2][value]", @info[:filter]  %>
    </p>

  <p>
    <%= f.label :email_address %><br />
    <%= f.email_field :email_address %>
  </p>
  <p>
    <%= f.label :key, "Key" %><br />
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :sublocation %><br />
    <%= f.grouped_collection_select :sublocation_id, Location.all, :sublocations, :name, :id,:name %>
  </p>
  <p>
  <% disabled = @customer.new_record? ? false : true %>
    <%= f.label :craigslist_type %><br />
    <%= f.select :craigslist_type, Customer::AVAILABLE_CRAIGSLIST_TYPES, :disabled => disabled %>
  </p>
  <p>
    <%= f.submit %> 
    <% should_show =  @customer.persisted? && @customer.setup_nonce.nil? %>
    <%= should_show ? link_to('regenerate reset password link', customer_reset_password_url(f.object)) : "" %>
  </p>


<% end %>
