<div>The following information will be used in your Craigslist advertisements for your dealership. <b>This information will be copied directly into your Craigslist advertisements.</b>
  Please ensure that this information is accurate. Use proper spelling and grammar, and double check all fields for correctness.</div>

<%= form_for(@dealer_info) do |f| %>
  <% if @dealer_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dealer_info.errors.count, "error") %> prohibited this dealer_info from being saved:</h2>

      <ul>
      <% @dealer_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name, "Dealer Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, "Dealer Description" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div id="citystatezip" class="field">
    <%= f.label :city %>
    <%= f.label :state %>
    <%= f.label :zip %>
    <br />
    <%= f.text_field :city %>
    <%= f.text_field :state %>
    <%= f.text_field :zip %>
  </div>
  <div class="field phone">
    <%= f.label :phone %>
    <br />
    <div class="number">1-<%= text_field :phone, :one, :maxlength => 3 %>-<%= text_field :phone, :two, :maxlength => 3 %>-<%= text_field :phone, :three, :class => 'four', :maxlength => 4 %></div>
    <div class="fieldinfo">
      This phone number will be displayed prominently and in large letters on all of your ads.<br />
      For tracking purposes, we may issue this number to you. Please contact us for info.
    </div>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    <div class="fieldinfo">
      This email is displayed in all of your ads.
    </div>
  </div>
  <div class="field">
    <%= f.label :crm_email, "CRM Email" %><br />
    <%= f.text_field :crm_email %>
    <div class="fieldinfo">
      This email is where contact form submissions will be sent.
    </div>
  </div>
  <div class="field">
    <%= f.label :display_website %><br />
    <%= f.text_field :display_website %>
    <div class="fieldinfo">
      This website is displayed to users and is NOT linked to.<br />
      Do not include http://.
    </div>
  </div>
  <div class="field">
    <%= f.label :use_landing_pages %><br />
    <span class="spacer">
      <%= f.check_box :use_landing_pages %>
    </span>
  </div>
  <div class="field">
    <%= f.label :destination_website %><br />
    <%= f.text_field :destination_website %>
    <div class="fieldinfo">
      This website is not displayed, but any link that a user clicks on use this.<br />
      This field is not used if the "use landing pages" option above is checked.
    </div>
  </div>
  <div class="field">
    <%= f.label :time_zone %><br />
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Pacific Time (US & Canada)" %>
  </div>
  <div class="field">
    <label>Craigslist Location</label><br />
    <%= f.hidden_field :craigslist_location %>
    <%= f.hidden_field :craigslist_sublocation %>
    <select id="dealer_select_location">
      <option disabled></option>
      <% for location in [["seattle", "Seattle"]] %>
         <option disabled><%= location.last %></option>
         <% for sublocation in [["see", "seattle"], ["est", "eastside"], ["sno", "snohomish co"], ["kit", "kitsap co"], ["tac", "tacoma"], ["oly", "olympia"], ["skc", "south king"]] %>
            <option value="<%= sublocation.first %>"<%= @dealer and @dealer.craigslist_sublocation == sublocation.first ? " selected" : "" %>>&nbsp;&nbsp;&nbsp;&nbsp;<%= sublocation.last %></option>
          <% end %>
      <% end %>
    </select>
  </div>
  <script type="text/javascript">
    var dealer_select = function(){
        if($("#dealer_select_location").val()[0] == "_"){
          $("#dealer_craigslist_location").val($("#dealer_select_location").val().substr(1));
          $("#dealer_craigslist_sublocation").val("");
        } else {
          $("#dealer_craigslist_location").val("");
          $("#dealer_craigslist_sublocation").val($("#dealer_select_location").val());
        }
    };

    $(document).ready(function(){
      $("#dealer_select_location").change(function(){
        dealer_select();
      });
      
      dealer_select();
    });

  </script>
  <div class="field">
    <%= f.label :location_string %><br />
    <%= f.text_field :location_string %>
    <div class="fieldinfo">
      This is displayed next to the ad title on both the search pages and the top of the advertisements.
      May be used as a tagline.
    </div>
  </div>
  <div class="time field">
    <%= f.label :start_time %>
    <%= f.label :end_time %><br />

    <span class="spacer">
      <%= f.time_select :start_time %>
    </span>
    <span class="spacer">
      <%= f.time_select :end_time %>
    </span>
  </div>
  <div class="field">
    <%= f.label :hide_price %><br />
    <span class="spacer">
      <%= f.check_box :hide_price %>
    </span>
  </div>
  <div class="field">
    <%= f.label :hide_mileage %><br />
    <span class="spacer">
      <%= f.check_box :hide_mileage %>
    </span>
  </div>
  <div class="field">
    <%= f.label :metric %><br />
    <span class="spacer">
      <%= f.check_box :metric %>
    </span>
    <div class="fieldinfo">
      Check this option to display kilometers instead of miles.
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Submit Dealer Info" %>
  </div>
<% end %>
