<h1>Listing dealer_infos</h1>

<table>
  <tr>
    <th>Dealer</th>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Display website</th>
    <th>Time zone</th>
    <th>Craigslist location</th>
    <th>Craigslist sublocation</th>
    <th>Location string</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Hide price</th>
    <th>Hide mileage</th>
    <th>Metric</th>
    <th>Use landing pages</th>
    <th>Destination website</th>
    <th>Crm email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dealer_infos.each do |dealer_info| %>
  <tr>
    <td><%= dealer_info.dealer_id %></td>
    <td><%= dealer_info.name %></td>
    <td><%= dealer_info.description %></td>
    <td><%= dealer_info.address %></td>
    <td><%= dealer_info.city %></td>
    <td><%= dealer_info.state %></td>
    <td><%= dealer_info.zip %></td>
    <td><%= dealer_info.phone %></td>
    <td><%= dealer_info.email %></td>
    <td><%= dealer_info.display_website %></td>
    <td><%= dealer_info.time_zone %></td>
    <td><%= dealer_info.craigslist_location %></td>
    <td><%= dealer_info.craigslist_sublocation %></td>
    <td><%= dealer_info.location_string %></td>
    <td><%= dealer_info.start_time %></td>
    <td><%= dealer_info.end_time %></td>
    <td><%= dealer_info.hide_price %></td>
    <td><%= dealer_info.hide_mileage %></td>
    <td><%= dealer_info.metric %></td>
    <td><%= dealer_info.use_landing_pages %></td>
    <td><%= dealer_info.destination_website %></td>
    <td><%= dealer_info.crm_email %></td>
    <td><%= link_to 'Show', dealer_info %></td>
    <td><%= link_to 'Edit', edit_dealer_info_path(dealer_info) %></td>
    <td><%= link_to 'Destroy', dealer_info, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dealer info', new_dealer_info_path %>
