<h1>Listing Real Estates</h1>

<table class="dataTable" style="width: 100%;">
  <thead>
    <tr>
      <th>Ad title</th>
      <th>Bedrooms</th>
      <th>Price</th>
      <th>Cats</th>
      <th>Dogs</th>
      <th>Images</th>
      <th>Active</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @real_estates.each do |real_estate| %>
  <tr>
    <td><%= real_estate.ad_title %></td>
    <td><%= real_estate.bedrooms %></td>
    <td><%= real_estate.price %></td>
    <td><%= real_estate.cats %></td>
    <td><%= real_estate.dogs %></td>
    <td><%= real_estate.real_estate_images.count %></td>
    <td class="<%= real_estate.active ? "postedGreen" : "postedRed" %>"><%= real_estate.active %></td>
    <td><%= link_to 'Edit', edit_real_estate_path(real_estate) %></td>
    <td><%= link_to (real_estate.active ? 'Disable' : 'Enable'), real_estate, :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Real Estate', new_real_estate_path, :style => "font-size: 22px;" %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".dataTable").dataTable({
      "bJQueryUI": true,
      "iDisplayLength": 50
    });
  });
</script>
