<h1>Listing Index</h1>

<table class="dataTable" style="width: 100%;">
  <thead>
    <tr>
      <th style="width: 50em;">Ad title</th>
      <th>Bedrooms</th>
      <th>Price</th>
      <th>Images</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @real_estates.each do |real_estate| %>
  <tr>
    <td><%= real_estate.ad_title %></td>
    <td><%= real_estate.bedrooms %></td>
    <td><%= real_estate.price %></td>
    <td><%= real_estate.real_estate_images.count %></td>
    <td><%= link_to 'Edit', edit_real_estate_path(real_estate) %></td>
    <td class="<%= real_estate.active ? "postedGreen" : "postedRed" %>" style="text-align: center;"><%= link_to (real_estate.active ? 'Disable' : 'Enable'), real_estate, :method => :delete, :confirm => "Are you sure you want to #{real_estate.active ? "stop" : "start"} posting this ad?" %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<div style="text-align: center;">
  <%= link_to 'Add A Listing', new_real_estate_path, :style => "font-size: 40px; text-align: center;" %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".dataTable").dataTable({
      "bJQueryUI": true,
      "iDisplayLength": 50
    });
  });
</script>
