<!DOCTYPE html>
<html>
<head>
  <title>Marsala</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'themes/base/jquery.ui.all.min.css' %>
  <%= javascript_include_tag :defaults, 'ui/jquery-ui.min.js', 'jquery.dataTables.min.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="wrapper">
  <div id="header">
    <img src="/images/RedCloud.png" />
  </div>
  <div id="content">
    <%= yield %>
  </div>
</div>

</body>
</html>
